a {
    color: black !important;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.bg-gelo {
    background-color: #ebeced !important;
}

.vermelho {
    color: #DB4437;
}

.amarelo {
    color: #F4B400;
}

.verde {
    color: #0F9D58;
}

.azul {
    color: #4285f4;
}

.semlinha {
    text-decoration: none
}

.cinza {
    background-color: #f8f9fa;
}

* {
    padding: 0;
    margin: 0;
}

